body {
    color: #ffffff; /* 흰색 글자 */
    margin: 0;
    padding: 0;
}
.header {
    background-color: #343a40; /* 헤더 회색 바탕 */
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header h1 {
    margin: 0;
    font-size: 24px;
}
.nav-menu {
    background-color: #343a40; /* 내비 회색 바탕 */
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    margin-bottom: 20px;
    position: relative;
}
.nav-menu a {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    padding: 10px 30px; /* 전체 링크 영역에 padding 추가 */
}
.nav-menu a:hover {
    background-color: black;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #343a40;
    top: 31px;
    left: 0;
    width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.submenu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.submenu a:hover {
    background-color: black;
}
.menu-item {
    position: relative;
}
.body-content {
    background-color: #343a40; 
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.movie-item {
    width: calc(33.33% - 20px); /* 각 이미지의 너비 */
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.movie-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 잘리지 않고 요소에 맞춰지도록 설정 */
    transition: transform 0.3s ease; /* 호버 시 스케일링 효과 */
}
.movie-item:hover img {
    transform: scale(1.1); /* 호버 시 이미지 확대 */
}
.movie-description {
    display: none; /* 기본적으로 설명 숨김 */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    padding: 10px;
    box-sizing: border-box;
}
.movie-item:hover .movie-description {
    display: block; /* 호버 시 설명 보이기 */
}
.movie-description h3 {
    margin-top: 0;
    font-size: 16px;
}
.footer {
    background-color: #343a40; /* 푸터 회색 바탕 */
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
}
.body-content {
    width: 100%; /* 너비를 고정합니다. 필요에 따라 조절하세요 */
    height: 800px; /* 높이를 고정합니다. 필요에 따라 조절하세요 */
    overflow: auto; /* 내용이 초과될 경우 스크롤바를 추가합니다 */
    margin: 0 auto; /* 가운데 정렬을 위해 */
    border: 1px solid #ccc; /* 시각적으로 구분하기 위해 테두리를 추가합니다 */
    padding: 20px; /* 내부 여백을 추가합니다 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */
}